<h2 style="text-align: center;">Add A Time Slot</h2>
<mat-divider></mat-divider>
<form class="example-form" [formGroup]="timeslotform" (ngSubmit)="SaveTimeslot()" style="padding-top: 20px;">
      <mat-form-field class="mat-50">
        <mat-label>Day:</mat-label>
        <mat-select formControlName="day">
            <mat-option value="MONDAY">Monday</mat-option>
            <mat-option value="TUESDAY">Tuesday</mat-option>
            <mat-option value="WEDNESDAY">Wednesday</mat-option>
            <mat-option value="THURSDAY">Thursday</mat-option>
            <mat-option value="FRIDAY">Friday</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mat-50">
        <mat-label>Start Time:</mat-label>
        <input matInput placeholder="Enter Start Time..." formControlName="startTime">
      </mat-form-field>

      <mat-form-field class="mat-50">
        <mat-label>End Time:</mat-label>
        <input matInput placeholder="endTime" formControlName="endTime" >
      </mat-form-field>

    <div class="example-button-row" style="margin: 2px">
        <button mat-raised-button color="primary">Save</button> | <a (click)="closepopup()" mat-raised-button color="accent">Close</a>
    </div>
    
  </form>