<mat-card>
    <img src="../../assets/images/tgs.jpg" alt="img">
    <mat-divider></mat-divider>
    <div class="body" style="padding-top: 5px;">
        <h3>Fill These Fields With Your Credentials To Login</h3>
        <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput placeholder="Enter Your Username...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput placeholder="Enter Your Password...">
        </mat-form-field>
        <button mat-button>Login</button>
        <p><a href="register">Don't have an acccount?</a></p>
    </div>
</mat-card>
