<mat-card class="table-card">
  <mat-card-header>
    <mat-form-field>
      <input matInput (keyup)="Filterchange($event)" placeholder="Enter Your Search Here...">
    </mat-form-field>
    <div>
      <a mat-raised-button (click)="Openlessonpopup('')" style="background-color: blue; margin:2%; color:white; margin-left: 660px;">Add Lesson</a>
    </div>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="finaldata" matSort style="width: 100%;">
      
      <ng-container matColumnDef="teacherName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teacher Name</th>
        <td mat-cell *matCellDef="let element">{{element.teacherName}}</td>
      </ng-container>

      <ng-container matColumnDef="subjectName">
        <th mat-header-cell *matHeaderCellDef>Subject Name</th>
        <td mat-cell *matCellDef="let element">{{element.subjectName}}</td>
      </ng-container>

      <ng-container matColumnDef="streamName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Stream Name</th>
        <td mat-cell *matCellDef="let element">{{element.streamName}}</td>
      </ng-container>

      <ng-container matColumnDef="hoursPerWeek">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>H/w</th>
        <td mat-cell *matCellDef="let element">{{element.hoursPerWeek}}</td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">
            <div>
                <a mat-raised-button (click)="EditLesson(element.id)" color="primary">Edit</a> |
                <a mat-raised-button (click)="DeleteLesson(element.id)" color="accent">Delete</a>
            </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
    </table>
  </mat-card-content>
  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons 
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </mat-card-footer>
</mat-card>