<h2 style="text-align: center;">Add Teacher</h2>
<mat-divider></mat-divider>
<form class="example-form" [formGroup]="teacherform" (ngSubmit)="SaveTeacher()" style="padding-top: 20px;">
    <mat-form-field class="mat-50">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="First Name" formControlName="firstName" required>
      </mat-form-field>
      <mat-form-field class="mat-50">
        <mat-label>Middle Name</mat-label>
        <input matInput placeholder="middleName" formControlName="middleName" required>
      </mat-form-field>

      <mat-form-field class="mat-50">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="lastName" formControlName="lastName" required>
        <mat-error *ngIf="teacherform.value.lastName">Last Name is required</mat-error>
      </mat-form-field>

      <mat-form-field class="mat-50">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
            <mat-option value="MALE">Male</mat-option>
            <mat-option value="FEMALE">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mat-50">
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email" required>
        <mat-error *ngIf="teacherform.value.email">Invalid email format</mat-error>
      </mat-form-field>

      <mat-form-field class="mat-50">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="address" formControlName="address"></textarea>
      </mat-form-field>

      <mat-form-field class="mat-50">
        <mat-label>Role Type</mat-label>
        <textarea matInput placeholder="Enter a role type..." formControlName="roleType"></textarea>
      </mat-form-field>


      <mat-form-field class="mat-50">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Enter a phone number.." formControlName="phoneNumber">
        <mat-error *ngIf="teacherform.value.phoneNumber">Phone number must consist digits only and should be 10 digits long
          <!-- <span *ngIf="teacherform.get('phoneNumber').hasError('pattern')">Phone number must be 10 digits long.</span> -->
        </mat-error>
      </mat-form-field>
    <div class="example-button-row" style="margin: 2px">
        <button mat-raised-button color="primary">Save</button> | <a (click)="closepopup()" mat-raised-button color="accent">Close</a>
    </div>
  </form>