<div class="row">
    <mat-card class="card-card" style="background-color: rgb(226, 44, 44); color: white; height:100px;">
        <div></div>
        <mat-card-header>
            <mat-card-title style="font-size: 30px;"><b>{{ teacherCount }}</b></mat-card-title>
            <mat-icon style="border: white; font-size: 70px; height: fit-content; width: fit-content; position: absolute; padding-left: 105px;">people</mat-icon>
        </mat-card-header>
        <mat-card-content style="padding-top: 5px;">
            <h3>Teachers</h3>
        </mat-card-content>
        <mat-card-footer>
            <p style="text-align:center; margin-top:16px; background-color: rgb(199, 26, 14); padding-top:5px; padding-bottom:5px; border-radius: 3px;">More Info</p>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card-card" style="background-color: rgb(32, 161, 6); color: white; height:100px;">
        <div></div>
        <mat-card-header>
            <mat-card-title style="font-size: 30px; margin-left: 10px;"><b>{{ subjectCount }}</b></mat-card-title>
            <mat-icon style="border: white; font-size: 70px; height: fit-content; width: fit-content; position: absolute; padding-left: 105px;">book</mat-icon>
        </mat-card-header>
        <mat-card-content style="padding-top: 5px;">
            <h3>Subjects</h3>
        </mat-card-content>
        <mat-card-footer>
            <p style="text-align:center; margin-top:16px; background-color: rgb(31, 143, 9); padding-top:5px; padding-bottom:5px; border-radius: 3px;">More Info</p>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card-card" style="background-color: rgb(19, 61, 151); color: white; height:100px;">
        <div></div>
        <mat-card-header>
            <mat-card-title style="font-size: 30px;"><b>{{ lessonCount }}</b></mat-card-title>
            <mat-icon style="border: white; font-size: 70px; height: fit-content; width: fit-content; position: absolute; padding-left: 105px;">grid_on</mat-icon>
        </mat-card-header>
        <mat-card-content style="padding-top: 5px;">
            <h3>Lessons</h3>
        </mat-card-content>
        <mat-card-footer>
            <p style="text-align:center; margin-top:16px; background-color: rgb(21, 49, 109); padding-top:5px; padding-bottom:5px; border-radius: 3px;">More Info</p>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card-card" style="background-color: rgb(54, 54, 53); color: white; height:100px;">
        <div></div>
        <mat-card-header>
            <mat-card-title style="font-size: 30px;"><b>{{ streamCount }}</b></mat-card-title>
            <mat-icon style="border: white; font-size: 70px; height: fit-content; width: fit-content; position: absolute; padding-left: 105px;">store_mall_directory</mat-icon>
        </mat-card-header>
        <mat-card-content style="padding-top: 5px;">
            <h3>Streams</h3>
        </mat-card-content>
        <mat-card-footer>
            <p style="text-align:center; margin-top:16px; background-color: rgb(46, 46, 44); padding-top:5px; padding-bottom:5px; border-radius: 3px;">More Info</p>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card-table">
        <mat-card-header style="margin-bottom:3px; padding-left: 80px;">
            <h2 style="text-align:center;">List Of Class Teachers</h2>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 5px;">
            <table mat-table [dataSource]="finaldata" matSort style="width: 100%;">
                <ng-container matColumnDef="teacherName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 400; color:black"><h4>Class Teacher</h4></th>
                  <td mat-cell *matCellDef="let element">{{element.teacherName}}</td>
                </ng-container>
        
                <ng-container matColumnDef="streamName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 400; color:black"><h4>Stream</h4></th>
                  <td mat-cell *matCellDef="let element">{{element.streamName}}</td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
            </table>
        </mat-card-content>
        <mat-card-footer>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons 
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card-table">
        <mat-card-header>
            <h2 style="padding-left:70px;">Number Of Teachers Per Class</h2>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 15px; padding-top: 10px;">
            <!-- Here is where I want to display the graph-->
            <canvas id="teachersPerClassChart" width="200px" height="100px"></canvas>
        </mat-card-content>
    </mat-card>

</div>