.card-card{
    margin:3%;
    width:15%;
    text-align:left;
    float: left;
}
.card-table{
    margin:3%;
    width:40%;
    text-align:left;
    float: left;
    height: 360px;
}
.icon{
    float: right;
    padding-top: 0%;
}