<div class="row">
    <mat-card class="card-card" style="background-color: rgb(226, 44, 44); color: white; height:100px;">
        <div></div>
        <mat-card-header>
            <mat-card-title style="font-size: 30px;"><b>{{ teacherCount }}</b></mat-card-title>
            <mat-icon style="border: white; font-size: 70px; height: fit-content; width: fit-content; position: absolute; padding-left: 105px;">people</mat-icon>
        </mat-card-header>
        <mat-card-content style="padding-top: 5px;">
            <h3>Teachers</h3>
        </mat-card-content>
        <mat-card-footer>
            <p style="text-align:center; margin-top:16px; background-color: rgb(199, 26, 14); padding-top:5px; padding-bottom:5px; border-radius: 3px;">More Info</p>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card-card" style="background-color: rgb(32, 161, 6); color: white; height:100px;">
        <div></div>
        <mat-card-header>
            <mat-card-title style="font-size: 30px; margin-left: 10px;"><b>{{ subjectCount }}</b></mat-card-title>
            <mat-icon style="border: white; font-size: 70px; height: fit-content; width: fit-content; position: absolute; padding-left: 105px;">book</mat-icon>
        </mat-card-header>
        <mat-card-content style="padding-top: 5px;">
            <h3>Subjects</h3>
        </mat-card-content>
        <mat-card-footer>
            <p style="text-align:center; margin-top:16px; background-color: rgb(31, 143, 9); padding-top:5px; padding-bottom:5px; border-radius: 3px;">More Info</p>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card-card" style="background-color: rgb(19, 61, 151); color: white; height:100px;">
        <div></div>
        <mat-card-header>
            <mat-card-title style="font-size: 30px;"><b>{{ lessonCount }}</b></mat-card-title>
            <mat-icon style="border: white; font-size: 70px; height: fit-content; width: fit-content; position: absolute; padding-left: 105px;">grid_on</mat-icon>
        </mat-card-header>
        <mat-card-content style="padding-top: 5px;">
            <h3>Lessons</h3>
        </mat-card-content>
        <mat-card-footer>
            <p style="text-align:center; margin-top:16px; background-color: rgb(21, 49, 109); padding-top:5px; padding-bottom:5px; border-radius: 3px;">More Info</p>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card-card" style="background-color: rgb(54, 54, 53); color: white; height:100px;">
        <div></div>
        <mat-card-header>
            <mat-card-title style="font-size: 30px;"><b>{{ streamCount }}</b></mat-card-title>
            <mat-icon style="border: white; font-size: 70px; height: fit-content; width: fit-content; position: absolute; padding-left: 105px;">store_mall_directory</mat-icon>
        </mat-card-header>
        <mat-card-content style="padding-top: 5px;">
            <h3>Streams</h3>
        </mat-card-content>
        <mat-card-footer>
            <p style="text-align:center; margin-top:16px; background-color: rgb(46, 46, 44); padding-top:5px; padding-bottom:5px; border-radius: 3px;">More Info</p>
        </mat-card-footer>
    </mat-card>

    <mat-card class="card-table">
        <mat-card-header style="margin-bottom:3px;">
            <h2 style="text-align:center;">List Of Class Teachers</h2>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content style="margin-top: 5px;">
            <table>
                <tr>
                    <th>#</th>
                    <th style="width:40%">Name</th>
                    <th style="padding-left:40%;">Class</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Maria Anders</td>
                    <td style="padding-left:40%;">P.4</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Francisco Chang</td>
                    <td style="padding-left:40%;">P.7</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Maria Anders</td>
                    <td style="padding-left:40%;">P.4</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Francisco Chang</td>
                    <td style="padding-left:40%;">P.7</td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-table">
        <mat-card-header>
            <h2 style="text-align: center;">A Graph Showing The Number Of Teachers Per Class</h2>
        </mat-card-header>
        <mat-card-content style="margin-top: 0%;">
            <table>
                <tr>
                    <th>#</th>
                    <th style="width:40%">Name</th>
                    <th style="padding-left:40%;">Class</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Maria Anders</td>
                    <td style="padding-left:40%;">P.4</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Francisco Chang</td>
                    <td style="padding-left:40%;">P.7</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Maria Anders</td>
                    <td style="padding-left:40%;">P.4</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Francisco Chang</td>
                    <td style="padding-left:40%;">P.7</td>
                </tr>

            </table>
        </mat-card-content>
    </mat-card>

</div>