<mat-card>
    <img src="../../assets/images/tgs.jpg" alt="img">
    <mat-divider></mat-divider>
    <div class="body" style="padding-top: 5px;">
        <h3>Fill These Fields To Register</h3>
        <mat-divider></mat-divider>
        <mat-form-field>
            <mat-label>First Name:</mat-label>
            <input matInput placeholder="Enter Your first name...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Middle Name:</mat-label>
            <input matInput placeholder="Enter Your middle name...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name:</mat-label>
            <input matInput placeholder="Enter Your last name...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date Of Birth:</mat-label>
            <input matInput placeholder="Enter Your Password...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Gender:</mat-label>
            <mat-select>
                <mat-option value="MALE">Male</mat-option>
                <mat-option value="FEMALE">Female</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput placeholder="Enter Your Email...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Contact:</mat-label>
            <input matInput placeholder="Enter Your Contact...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address:</mat-label>
            <input matInput placeholder="Enter Your Address...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput type="password" placeholder="Enter Your Password...">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password:</mat-label>
            <input matInput type="password" placeholder="Enter Your Password...">
        </mat-form-field>
        <button mat-button>Register</button><br><br>
        <p><a href="#">Already Have An Account?</a></p>
    </div>
</mat-card>
